<link rel="stylesheet" href="components/navbar/navbar.css">

<nav class="navbar">
    <div class="logo">
        <img src="/images/logo.png" height="50px">
    </div>

    <ul class="menu">
        <li>
            <a href="#">
                <i class="fa-solid fa-house"></i>
                <span>Accueil</span>
            </a>
        </li>
        <li>
            <a href="#tecno">
                <i class="fa-solid fa-microchip"></i>
                <span>Tecno</span>
            </a>
        </li>
        <li>
            <a href="#projet">
                <i class="fa-solid fa-folder-open"></i>
                <span>Projet</span>
            </a>
        </li>
    </ul>

    <a href="mailto:contact@mail.com" class="mail-btn">
        <i class="fa-solid fa-paper-plane"></i>
        <span>Send Mail</span>
    </a>
</nav>

<script src="components/navbar/navbar.js"></script>
